input[type="number"] {
    width: 85px;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; /* Ensures padding doesn't affect final width */
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
    transition: all 1s ease-in-out; /* Smooth interaction animation */
    cursor: pointer;
    caret-color: transparent;
}
